@font-face {
  font-family: "iconfont"; /* Project id 3818105 */
  src: url('iconfont.woff2?t=1670568720383') format('woff2'),
       url('iconfont.woff?t=1670568720383') format('woff'),
       url('iconfont.ttf?t=1670568720383') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-duihuaxinxi:before {
  content: "\e639";
}

.icon-dianzan:before {
  content: "\e8ad";
}

.icon-dianzan1:before {
  content: "\e8c3";
}

